#content {
    margin-left: 10%;
    margin-right: 10%;
}
/* Opens navbar menus on mouseover*/
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /*remove the gap so it doesn't close*/
}

.nav-link, .dropdown-item {
    text-decoration: none;
}

/* Timetable */
div.semesterBody {
    float: left;
    width: 20em;
    height: 30em;
}

h2 {
    clear: both;
}

li.semesterModule, li#semesterModuleGhost {
    width: 20em;
    text-align: center;
    list-style: none;
    background: darkgray;
    border: 1px solid black;
}

li.semesterModule:hover, li#semesterModuleGhost:hover {
    cursor: move;
}

li.semesterModule {
    float: left;
    margin: 5px;
    z-index: 9000;
}

li#semesterModuleGhost {
    opacity: 0.5;
    border-style: dashed;
}

ul.semesterModules {
    height: 100%;
}

ul.semesterModules li.semesterModule, ul.semesterModules li#semesterModuleGhost {
    margin: -1px;
}

ul.moduleList {
    background: lightgray;
    border: 1px solid darkgray;
    box-shadow: black;
}

ul.moduleList::after {
    content: "";
    clear: both;
    display: table;
}

div#newSemester {
    display: none;
}
