/* Opens navbar menus on mouseover*/
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /*remove the gap so it doesn't close*/
}

.nav-link, .dropdown-item {
    text-decoration: none;
}

/* Timetable */
div.semesterBody {
    float: left;
    width: 10em;
    height: 30em;
}

h2 {
    clear: both;
}

li.semesterModule {
    width: 10em;
    float: left;
    text-align: center;
}
