/* Opens navbar menus on mouseover*/
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /*remove the gap so it doesn't close*/
}

.nav-link, .dropdown-item {
    text-decoration: none;
}

/* Bootstrap */
.container {
    width: 90%;
    max-width: none;
}

.row {
    padding: 0px;
}

.col {
    padding: 0px;
}
/* Timetable */
div.semesterBody {
    float: left;
    width: 20em;
    height: 30em;
    padding: 0px;
}

h2 {
    clear: both;
}

#credits {
    text-align: right;
}

.semesterCredits, #totalCredits {
    text-align: center;
    border-top: 1px solid darkgray;
}

#totalCredits {
    border-bottom: 1px solid darkgray;
}

li.semesterModule, li#semesterModuleGhost {
    /*width: 20em;*/
    text-align: center;
    list-style: none;
    background: lightgrey;
    border-radius: 2px;
    border: 1px solid darkgray;
    overflow: hidden;
}

li.semesterModule:hover, li#semesterModuleGhost:hover {
    cursor: move;
}

li.semesterModule {
    float: left;
    margin: 5px;
    z-index: 9000;
}

li#semesterModuleGhost {
    opacity: 0.5;
}

ul.semesterModules {
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
}

ul.semesterModules li.semesterModule, ul.semesterModules li#semesterModuleGhost {
    margin: 0px;
    margin-top: 2px;
}

ul.moduleList {
    border: 1px solid darkgray;
    box-shadow: black;
}

ul.moduleList::after {
    content: "";
    clear: both;
    display: table;
}

div#newSemester {
    display: none;
}
